<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<hread>
<meta charset="UTF-8"/>
<title></title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>


</hread>
<body class="corpo" id="corpo-cadastroEstacao">

<header id="cabecalho">

 <a id="link"class="btn btn-link aw-link-panel" href="/estacoes">Voltar para a pesquisa </a>


</header>

<form id="form-cadEstacao"class="form-horizontal" method="post" action="/novaEstacao" th:object="${estacao}">

   <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
       <span th:text="${mensagem}"></span>
   </div>
   
   
  <!--<div th:replace="MensagemGeral"></div> 
  <div th:replace="MensagemErro"></div>    <!-- Mensagem de exclusao --> 
  
     <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
       <div th:each="detailedError : ${#fields.detailedErrors()}">
           <span th:text="${detailedError.message}"></span>
       </div>
   </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
               <div id="titulo">
                  <h1 id="novaEstacao"class="panel-title aw-titulo-panel" ><strong>Nova Estaçao</strong></h1>
                 
               </div>
            </div>
        </div>
        
        <div class="panel-body">
           <input type="hidden" th:field="*{idEstacaibr}"/>
            <div class="form-group"  th:classappend="${#fields.hasErrors('nomeEstacao')} ? 'has-error'" >
                <label for="descriçao" class="col-sm-2 control-label">Nome da Estaçao</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="NomeEstacao" th:field="*{nomeEstacao}" placeholder="Nome da Estaçao"/>
                </div>
            </div>
            
            <div class="form-group" th:classappend="${#fields.hasErrors('latitudeEstacao')} ? 'has-error'">
                <label for="dataVencimento" class="col-sm-2 control-label"> Latitude da estaçao</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="Latitude" th:field="*{latitudeEstacao}" placeholder="Ex: 22º 55´S "/>
                </div>
            </div>
            
            <div class="form-group" th:classappend="${#fields.hasErrors('longitudeEstacao')} ? 'has-error'">
                <label for="valor" class="col-sm-2 control-label"> Longitude da estaçao</label>
                <div class="col-sm-2">
                     <input type="text" class="form-control" id="Longitude" th:field="*{longitudeEstacao}" placeholder="Ex: 22º 55´S"/>
                </div>
            </div>
            
           <div class="form-group" th:classappend="${#fields.hasErrors('altitudeEstacao')} ? 'has-error'">
                <label for="valor" class="col-sm-2 control-label"> Altitude da estaçao</label>
                <div class="col-sm-2">
                     <input type="text" class="form-control" id="Altitude" th:field="*{altitudeEstacao}" placeholder="Altitude"/>
                </div>
            </div>
            
            <div class="form-group" th:classappend="${#fields.hasErrors('dataFundacao')} ? 'has-error'">
                <label for="valor" class="col-sm-2 control-label"> Data da Fundaçao</label>
                <div class="col-sm-2">
                     <input type="text" class="form-control" id="DataFundacao" th:field="*{dataFundacao}"
                      data-provide="datepicker" data-format="dd/mm/yyyy" data-date-language="pt-BR" data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
                </div>
            </div>
            
            <div class="form-group" th:classappend="${#fields.hasErrors('idEstado')} ? 'has-error'">
                <label for="valor" class="col-sm-2 control-label"> Estado</label>
                <div class="col-sm-2">
                     <input type="text" class="form-control" id="IdEstado" th:field="*{idEstado}"/>
                </div>
            </div>
            
            
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>                               
        </div>
    </div>
</form>
    
 <script src="/js/jquery-3.6.0.min.js"></script>   
 <script src="/js/bootstrap.min.js"></script>
 <script src="/js/bootstrap-datepicker.min.js"></script>
 <script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrapdatepicker.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrapdatepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
</body>
</html>